.place__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  max-width: 200px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
