.profile__image {
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .profile__image{
    margin-right: 0;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 400px) {
  .profile__image{
    margin-bottom: 22px;
  }
}
