.popup__item_username{
  padding: 0;
  margin: 0;
  color: #000000;
  border: none;
  text-decoration: none;
  outline:none;
  max-width: 350px;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 13px;
}

.popup__item_username:active{
  border-bottom: 1px solid #000;
}

.popup__item_username:focus{
  border-bottom: 1px solid #000;
}

::placeholder {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
 }
