.popup__window {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  max-width: 430px;
  width: 100%;
}

@media screen and (max-width: 460px) {
  .popup__window {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}
