@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);


/*блок page*/
@import url(../blocks/page/page.css);
/*элемент container*/
@import url(../blocks/page/__container/page__container.css);
/*элемент header*/
@import url(../blocks/page/__header/page__header.css);
/*элемент content*/
@import url(../blocks/page/__content/page__content.css);
/*элемент footer*/
@import url(../blocks/page/__footer/page__footer.css);


/*блок header*/
@import url(../blocks/header/header.css);
/*элемент image*/
@import url(../blocks/header/__image/header__image.css);


/*main content*/
@import url(../blocks/content/content.css);
/*элемент profile*/
@import url(../blocks/content/__profile/content__profile.css);


/*блок profile*/
@import url(../blocks/profile/profile.css);
/*элемент info*/
@import url(../blocks/profile/__info/profile__info.css);
/*элемент username*/
@import url(../blocks/profile/__username/profile__username.css);
/*элемент job*/
@import url(../blocks/profile/__job/profile__job.css);
/*элемент image*/
@import url(../blocks/profile/__image/profile__image.css);
/*кнопка button */
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
/*блок кнопка add-button*/
@import url(../blocks/profile/__add-button/profile__add-button.css);


/*блок places*/
@import url(../blocks/places/places.css);


/*блок place*/
@import url(../blocks/place/place.css);
/*элемент image*/
@import url(../blocks/place/__image/place__image.css);
/*элемент title*/
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__item/place__item.css);

/*элемент кнопка heart*/
@import url(../blocks/place/__heart-button/heart-button.css);
/*модификатор heart active*/
@import url(../blocks/place/__heart-button/_active/heart-button_active.css);


/*блок footer*/
@import url(../blocks/footer/footer.css);
/*элемент текст*/
@import url(../blocks/footer/__text/footer__text.css);


/*блок popup*/
@import url(../blocks/popup/popup.css);
/*элемент window*/
@import url(../blocks/popup/__window/popup__window.css);
/*элемент button-exit*/
@import url(../blocks/popup/__button-exti/popup__button-exit.css);
/*элемент content*/
@import url(../blocks/popup/__content/popup__content.css);
/*элемент contact-info*/
@import url(../blocks/popup/__contact-info/popup__contact-info.css);
/*элемент button*/
@import url(../blocks/popup/__button/popup__button.css);
/*элемент input*/
@import url(../blocks/popup/__input/popup__input.css);
/*элемент title*/
@import url(../blocks/popup/__titile/popup__title.css);
/*модификатор popup_opened*/
@import url(../blocks/popup/_opened/popup_opened.css);




