.heart-button_active{
  outline: none;
  background: transparent;
  display: block;
  width: 22px;
  height: 19px;
  box-sizing: border-box;
  background-image: url(../../../images/heart_active.svg);
  background-size: cover;
  border: 0;
  background-position: center;
}


.heart-button_active:hover{
  cursor: pointer;
}
